<header>
  <img src="assets/img/lilian.jpg" alt="Lilian = foto de perfil"
  width="130px"
  height="130px"
  loading="eager"
  />
  <h1>Lilian Fonseca</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack C# | NodeJS | JavaScript | Angular | React</p>
    <p>Desenvolvimento de aplicações Web, Desktop e Mobile</p>
    <p>São Paulo/BR</p>
  </div>
  <nav>
    <ul>
      <li>
        <a href="assets/pdf/Profile.pf" target="_blank" class="btn btn-primary" >Sobre mim</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/lilian-fonseca-458b7b53/" target="_blank" class="btn btn-primary" >LinkedIn</a>
      </li>
    </ul>
  </nav>
  <section>
    <figure>
      <img src="assets/icons/whatsapp.svg" alt="WhatsApp" width="22px" height="24px" />
    </figure>
    <figcaption>
      <a href="https://wa.me/5513981675740"
      target="_blank">
      <strong>Envie uma mensagem para:</strong>
      <p>WhatsApp: (13) 98167-5740</p>
      </a>
    </figcaption>
    <figure>
      <img src="assets/icons/mail.svg" alt="WhatsApp" width="22px" height="24px" />
    </figure>
    <figcaption>
      <a href="mailto:ldamico.dev@gmail.com"
      target="_blank">
      <strong>Envie um e-mail para:</strong>
      <p>ldamico.dev&#64;gmail.com</p>
      </a>
    </figcaption>
  </section>

</aside>
