<div class="frame2">
  <figure>
    <img src="assets/icons/whatsapp.svg" alt="WhatsApp" width="22px" height="24px" />
    <figcaption>
      <a href="https://wa.me/5513981675740"
      target="_blank">
      <strong>Envie uma mensagem para:</strong>

      </a>
    </figcaption>
  </figure>

  <figure>
    <img src="../../../../../assets/icons/mail.png" alt="mail" width="22px" height="24px" />
    <figcaption>
      <a href="mailto:ldamico.dev@gmail.com"
      target="_blank">
      <strong>Envie um e-mail para:</strong>
      <p>ldamico.dev&#64;gmail.com</p>
      </a>
    </figcaption>
  </figure>

</div>
