<h2>Desenvolvimento de Sistemas</h2>
<div class="frame4">

  <div class="box">
    <h4>Gerenciamento de Terminal Logístico</h4>
    <ul>
      <li>
        <p>Controle de chegadas e partidas</p>
        <p>Gerenciamento da movimentação interna</p>
        <p>Monitoramento de manutenção de equipamentos</p>
      </li>
    </ul>


  </div>
  <div class="box">
    <h4>Gerenciamento de Atividades</h4>
    <ul>
      <li>
        <p>Escritórios de Advocacia</p>
        <p>Administradoras de Condomínio</p>
        <p>Controle de Rotinas</p>
      </li>
    </ul>


  </div>
  <div class="box">
    <h4>Pontos de Venda</h4>
    <ul>
      <li>
        <p>Fluxos de Caixa</p>
        <p>Controle de Estoque</p>
      </li>
    </ul>



  </div>
  <div class="box">
    <h4>e_commerce</h4>
    <ul>
      <li>
        <p>Comércio Eletrônico</p>
        <p>Estabelecimentos Comerciais - Delivery Service</p>
        <p>Padarias</p>
        <p>Pizzarias</p>
        <p>Lanchonetes</p>
        <p>Restaurantes</p>
      </li>
    </ul>

  </div>

</div>


