.frame4 {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  justify-content: center;
  margin: 25px;
  gap: 10px;
}

h2, h4 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.box {
  border: 2px solid green;
  border-radius: 6px;
  padding: 0 10px;
}

ul {
  list-style: none;
}

/* Media Query para telas menores que 768px */
@media screen and (max-width: 768px) {
  .frame4 {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    margin: 0 10px;
    display: flex; /* Adiciona display flex */
    flex-direction: column; /* Define flex-direction como coluna */
  }
}
